* {
    margin: 0;
    padding: 0;
}

#picSet {
    margin: 0 auto;
    border: 5px solid red;
    width: 1440px; 
    height: 540px;
    position: relative;
    overflow: hidden;
}

#picSet img {
    position: absolute;
    transition: left 0.5s;
}